.header {
    text-align: center;
}

.section-main {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.section1, .section2 {
    min-width: 50%;
}

.section1 {
    margin-right: 2vw;
}

.section2 {
    margin-left: 2vw;
}

img {
    width: 100%;
}

.section2 {
    display: grid;
}

@media only screen and (max-width: 600px) {
    .section-main {
      flex-wrap: wrap;
    }
  }